@page
@model WorkFlex.Web.Pages.Authen.ForgotModel
@{
}
<body oncontextmenu='return false' class='snippet-body'>
    <div class="container padding-bottom-3x mb-2 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="forgot">
                    <a href="~/"
                       style="text-decoration: none; color: #555;">
                        <i class="d-flex fa fa-arrow-left" aria-hidden="true"></i>
                    </a>
                    <br>
                    <h2>Forgot your password?</h2>
                    <p>Change your password in three easy steps. This will help you to secure your password!</p>
                    <ol class="list-unstyled">
                        <li><span class="text-dark text-medium">1. </span>Enter your email address below.</li>
                        <li>
                            <span class="text-dark text-medium">2. </span>Our system will send you a Temporary Password
                            to your email.
                        </li>
                        <li><span class="text-dark text-medium">3. </span>Enter the Password on the next page.</li>
                    </ol>
                </div>
                <br>
                <form class="card mt-2">
                    <div class="card-body">
                        <div class="input-box">
                            <div class="form-group">
                                <label for="email-for-pass">Enter your email address</label>
                                <input class="form-control" type="text" name="email" id="email-for-pass">
                                <small class="form-text text-muted">
                                    Enter the registered email address.
                                    Then we'll email a temporary Password to this address.
                                </small>
                                <br />
                                <small class="form-message"></small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-submit" type="submit"
                                style="background-color: #6dabe4; border-color: #6dabe4; color: #fff;">
                            Get New
                            Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>