@page
@model WorkFlex.Web.Pages.Authen.LoginModel
@{
    Layout = "_LayoutAuthen";
    ViewData["Title"] = "Sign in";
    var successMessage = TempData["SuccessMessage"] as string;
    var failedMessage = TempData["FailedMessage"] as string;
}

<div class="main">
    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/img/authen/signin-image.jpg" alt="Sign Up"></figure>
                    <a asp-page="Register" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign in</h2>
                    @if (!string.IsNullOrEmpty(successMessage))
                    {
                        <div class="alert alert-success" role="alert">
                            @successMessage
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(failedMessage))
                    {
                        <div class="alert alert-danger" role="alert">
                            @failedMessage
                        </div>
                    }
                    <form method="POST" class="register-form" id="login-form">
                        <div class="form-group">
                            <label for="username" asp-for="LoginVM.Username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" asp-for="LoginVM.Username" name="LoginVM.Username" id="username"
                                   placeholder="Username or Email" rules="required" />
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label for="pass" asp-for="LoginVM.Password"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" asp-for="LoginVM.Password" name="LoginVM.Password" id="pass" placeholder="Password" rules="required" />
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" asp-for="LoginVM.Remember" class="agree-term" id="remember" />
                            <label for="remember" asp-for="LoginVM.Remember" class="label-agree-term"><span><span></span></span>Remember me</label>
                            <span style="margin-left: 8px;">
                                <a class="forgot-link" href="/Authen/Forgot"
                                   style="color: #111;">Forget Password?</a>
                            </span>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                        </div>
                    </form>
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        Validator("#login-form");
    </script>
}
