@page
@model WorkFlex.Web.Pages.Authen.ResetModel
@{
}
<body class='snippet-body'>
    <div class="container padding-bottom-3x mb-2 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="reset">
                    <a href="~/" style="text-decoration: none; color: #555;">
                        <i class="d-flex fa fa-arrow-left" aria-hidden="true"></i>
                    </a>
                    <br>
                    <h2>Reset Password</h2>
                    <p>Change your password in three easy steps. This will help you to secure your password!</p>
                    <ol class="list-unstyled">
                        <li><span class="text-dark text-medium">1. </span>Your new password need at most 16 characters.</li>
                        <li><span class="text-dark text-medium">2. </span>Your new password need at least 1 number & 1 special characters.</li>
                        <li><span class="text-dark text-medium">3. </span>Your new password need a character lower & upper. </li>
                    </ol>
                </div>
                <br>
                <form class="card mt-2" method="post" id="reset-form">
                    <div class="card-body">
                        <div class="input-box">
                            <div class="form-group">
                                <label for="new-password">Enter your new password</label>
                                <input class="form-control" type="password" name="newPassword" id="new-password" rules="required|max:16|number|lower|upper|special">
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div class="input-box">
                            <div class="form-group">
                                <label for="confirm-password">Confirm new Password</label>
                                <input class="form-control" type="password" name="confirmPassword" id="confirm-password" rules="required|match:new-password">
                                <span class="form-message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-submit" type="submit"
                                style="background-color: #6dabe4; border-color: #6dabe4; color: #fff;">
                            Change
                            Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>